<hr class="my-4">
        <%= simple_form_for(mot) do |f| %>
          <div class="row">
              <div class="col p-4">
                <%= f.input :emoticon, collection: (128512..128561 ).to_a.map{|i| [i].pack('U')}, label: false, error: 'Description is mandatory, please specify one' %>
              </div>
              <div class="col p-4">
                <%= f.input :name, label: false, error: 'Description is mandatory, please specify one' %>
              </div>
              <div>
              <%= f.button :submit, class: "btn-primary" %>
            </div>
          </div>
        <% end %>
<hr class="my-4">
