<div class="container">
<hr class="my-4">
        <%= simple_form_for(mot) do |f| %>
          <div class="row">
              <div class="col p-4">
                <%= f.input :emoticon, label: 'Emoticon', error: 'Description is mandatory, please specify one' %>
              </div>
              <div class="col p-4">
                <%= f.input :name, label: 'Name', error: 'Description is mandatory, please specify one' %>
              </div>
              <div>
              <%= f.button :submit, class: "btn-primary" %>
            </div>
          </div>
        <% end %>
<hr class="my-4">
</div>
