<% if task.triggers.any? %>
<% task.triggers.each do |trigger| %>
<div class="container border mt-2">
  <div class="row">
    <div class="col-6 p-4">
      trigger: <%= trigger.name %>
    </div>
    <div class="col-4 p-4" style="btn-primary">
      <%= trigger.url %>
    </div>
    <div class="col-2 pt-4">
      <%= link_to "Edit", edit_mot_task_trigger_path(mot, task, trigger) %>
    </div>
  </div>
</div>
<% end %>
<% else %>
<strong>No trigger yet</strong>
<% end %>
<div class="flex-center mt-4" data-controller="newtrigger" data-mot-id="<%= task.id %>">
       <i class="fas fa-plus" data-action="click->newtrigger#createTrigger"></i>
  </div>
<div id="wrappernewtrigger"></div>
