<div class= "p-4 p-md-5">
<h1 class="my-3 text-center"><%= mot.emoticon %> <%= mot.name %></h1>
<p><%= mot.description %></p>
<div data-action="checktask" data-target="checktask.checkwrapper">
<%= render "mots/show_mot_task.html.erb", mot: mot %>
</div>
</div>
