      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <h1 class="my-3 text-center"><%= mot.emoticon %> <%= mot.name %></h1>
            <h2></H2>
              <p><%= mot.duedate %></p>
              <p><%= mot.description %></p>
        </div>
          <hr class="my-4">
      </div>
