.main-sidebar-fixed {
  background-color: #232F34;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 91vh;
}

.column-1 {
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.search-card {
  margin: 3px;
  border-top: solid 1px #344955;
}
.sidebar-card-db {
  margin-bottom: 3px;
  border-top: solid 1px #344955;
}

.sidebar-card {
  border-bottom: solid 1px #344955;
  margin-bottom: 3px;
}

.sidebar-card {
  border-bottom: solid 1px #344955;
  background-color: #232F34;
}

.active-side-bar:hover {
  background-color: #F9AA33 !important;
}

.active-side-bar {
  background-color: #F9AA33;
}

.list-group-item-action:hover {
  background-color: #F9AA33;
}
