.main-sidebar-fixed {
  background-color: #232F34;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 91vh;
}

.column-1 {
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar-card {
  border-bottom: solid 1px #344955;
}

.sidebar-card {
  border-bottom: solid 1px #344955;
  background-color: #232F34;
}

.active-side-bar:hover {
  background-color: $success !important;
}

.active-side-bar {
  background-color: $success;
}

.list-group-item-action:hover {
  background-color: $success;
}
