table{
  width: 100%;
  border-collapse: collapse;
}

tr {
  border: dotted rgb(200, 200, 200);
  border-width: 1px 0;
}

td {
padding: 10px;
}

tr:first-child {
  border-top: none;
}

// tr:last-child {
//   border-bottom: none;
// }

.first-column{
  width: 5%;
}

.type-column{
  width: 10%;
}

.title-column{
  width: 15%;
}
.message-column{
  width: 60%;
}

.edit-column{
  width: 10%;
}
.edit-column-content{
  justify-content: center;
}
