
.title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  display: block;
}

.sidebar-title {
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  text-transform: uppercase;
  display: block;
  padding: 35px;
}

.sidebar-mot-name {
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
}

.done {
  color:gray;
  text-decoration:line-through;
}

.p {
  color: #444352;
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  padding: 2px;
}

.form-control.select.optional {
  color: #6C757D;
}
