.button-1 {
  background-color: #344955;
  border-radius: 5%;
  margin: auto;
  border: none;
  color: white !important;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
